.headerDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  width: 100vw;
  border-bottom: 0.0625rem solid var(--gray-3);
  padding: 0 auto;

  & button {
    width: 3.4375rem;
    height: 2rem;
    padding: 0 1rem;
  }
}

.profileDiv {
  width: 100vw;
  height: 7.375rem;
  padding: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 0.0625rem solid var(--gray-3);

  & h2 {
    color: var(--gray-0);
  }

  & p {
    color: var(--gray-1);
  }
}

.dashboardMain {
  display: flex;
  flex-direction: column;

  margin-top: 5.125rem;
  margin-left:21.6%;
  gap: 3.1875rem;

  height: 50vh;

  line-height: 1.75rem;
  & h2 {
    color: var(--gray-0);
  }

  & p {
    color: #ffffff;
  }
}
