:root {
    --color-primary:#FF577F;
    --color-primary-hover:#FF427F;
    --color-primary-negative:#59323F;

    --gray-4:#121214;
    --gray-3:#212529;
    --gray-2:#343B41;
    --gray-1:#868E96;
    --gray-0:#F8F9FA;

    --color-sucess:#3FE864;
    --color-failure:#E83F5B;

    font-family: 'Inter', sans-serif;

    background-color: var(--gray-4);
}